USE [master]
GO
/****** Object:  Database [SematecLearningManagementSystem]    Script Date: 2/26/2026 3:50:42 PM ******/
CREATE DATABASE [SematecLearningManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SematecLearningManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Havij' , SIZE = 131072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [DataFileGroup]  DEFAULT
( NAME = N'SematecLearningManagementSystem_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SematecLearningManagementSystem_Data.ndf' , SIZE = 1048576KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1048576KB )
 LOG ON 
( NAME = N'SematecLearningManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shalgham2' , SIZE = 102400KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SematecLearningManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SematecLearningManagementSystem]
GO
/****** Object:  User [vahiduser]    Script Date: 2/26/2026 3:50:42 PM ******/
CREATE USER [vahiduser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [vahiduser]
GO
/****** Object:  Schema [HumanResource]    Script Date: 2/26/2026 3:50:42 PM ******/
CREATE SCHEMA [HumanResource]
GO
/****** Object:  Schema [Learning]    Script Date: 2/26/2026 3:50:42 PM ******/
CREATE SCHEMA [Learning]
GO
/****** Object:  Table [dbo].[Certification]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certification](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[CertificationTitle] [varchar](50) NOT NULL,
	[Vendor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Certification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[CourseCode] [int] NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[EnglishCourseName] [varchar](50) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Duration] [tinyint] NOT NULL,
	[Syllabus] [nvarchar](2000) NOT NULL,
	[Cost] [int] NOT NULL,
	[SyllabusFile] [varbinary](max) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CourseCategoryID] [tinyint] NULL,
	[PrerequisitCourseID] [smallint] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup] TEXTIMAGE_ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[CourseCategory]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCategory](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[CourseCategoryName] [nvarchar](50) NOT NULL,
	[EnglishCourseCategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CourseCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[EnglishDepartmentName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[EducationTitle] [nvarchar](20) NOT NULL,
	[EnglishEducation] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Educatuion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[PersonID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[TotalChildren] [tinyint] NOT NULL,
	[Startdate] [date] NOT NULL,
	[InsuranceNumber] [char](7) NOT NULL,
	[AccountNumber] [char](16) NOT NULL,
	[Hiredate] [date] NOT NULL,
	[DepartmentID] [tinyint] NOT NULL,
	[JobID] [int] NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup] TEXTIMAGE_ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[MaritalStatus] [nvarchar](20) NOT NULL,
	[NationalCode] [char](10) NOT NULL,
	[Mobile] [char](11) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[EmailAddress] [varchar](100) NULL,
	[EducationID] [tinyint] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[PersonID] [int] NOT NULL,
	[FirstRegisterdate] [date] NOT NULL,
	[EnglishFirstName] [varchar](50) NOT NULL,
	[EnglishLastName] [varchar](50) NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup] TEXTIMAGE_ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Student_Course_Teacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Course_Teacher](
	[StudentID] [int] NOT NULL,
	[CourseID] [smallint] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[TermNumber] [int] NOT NULL,
	[Score] [tinyint] NOT NULL,
 CONSTRAINT [PK_Student_Course_Teacher] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC,
	[TeacherID] ASC,
	[TermNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[PersonID] [int] NOT NULL,
	[InsuranceNumber] [char](7) NOT NULL,
	[AccountNumber] [char](16) NOT NULL,
	[Startdate] [date] NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup] TEXTIMAGE_ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Teacher_Certification]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Certification](
	[TeacherID] [int] NOT NULL,
	[CertificationID] [tinyint] NOT NULL,
	[CertificateCode] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Teacher_Certification] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC,
	[CertificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[ExpiredDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
) ON [DataFileGroup]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_U_NationalCode]    Script Date: 2/26/2026 3:50:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [NCI_U_NationalCode] ON [dbo].[Person]
(
	[NationalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [DataFileGroup]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF_Course_Status]  DEFAULT (N'حضوری و آنلاین') FOR [Status]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Course] FOREIGN KEY([PrerequisitCourseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Course]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_CourseCategory] FOREIGN KEY([CourseCategoryID])
REFERENCES [dbo].[CourseCategory] ([ID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_CourseCategory]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employee] ([PersonID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Person]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Educatuion] FOREIGN KEY([EducationID])
REFERENCES [dbo].[Education] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Educatuion]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Person]
GO
ALTER TABLE [dbo].[Student_Course_Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Teacher_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[Student_Course_Teacher] CHECK CONSTRAINT [FK_Student_Course_Teacher_Course]
GO
ALTER TABLE [dbo].[Student_Course_Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Teacher_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([PersonID])
GO
ALTER TABLE [dbo].[Student_Course_Teacher] CHECK CONSTRAINT [FK_Student_Course_Teacher_Student]
GO
ALTER TABLE [dbo].[Student_Course_Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Teacher_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([PersonID])
GO
ALTER TABLE [dbo].[Student_Course_Teacher] CHECK CONSTRAINT [FK_Student_Course_Teacher_Teacher]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Person]
GO
ALTER TABLE [dbo].[Teacher_Certification]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Certification_Certification] FOREIGN KEY([CertificationID])
REFERENCES [dbo].[Certification] ([ID])
GO
ALTER TABLE [dbo].[Teacher_Certification] CHECK CONSTRAINT [FK_Teacher_Certification_Certification]
GO
ALTER TABLE [dbo].[Teacher_Certification]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Certification_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([PersonID])
GO
ALTER TABLE [dbo].[Teacher_Certification] CHECK CONSTRAINT [FK_Teacher_Certification_Teacher]
GO
/****** Object:  StoredProcedure [dbo].[AssignCertificationToTeacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. اختصاص دادن مدرک به استاد
CREATE   PROCEDURE [dbo].[AssignCertificationToTeacher]
    @TeacherID int,
    @CertificationID tinyint,
    @CertificateCode varchar(20)
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM dbo.Teacher_Certification WHERE TeacherID = @TeacherID AND CertificationID = @CertificationID)
    BEGIN
        INSERT INTO dbo.Teacher_Certification (TeacherID, CertificationID, CertificateCode)
        VALUES (@TeacherID, @CertificationID, @CertificateCode);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCertification]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCertification]
    @ID TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM dbo.Certification
        WHERE ID = @ID;

        -- بررسی اینکه آیا اصلا رکوردی با این ID برای پاک کردن وجود داشت؟
        IF @@ROWCOUNT = 0
            THROW 50003, 'Certification not found for deletion.', 1;

    END TRY
    BEGIN CATCH
        -- پاس دادن خطاهای احتمالی (مخصوصاً خطای اتصال به جداول دیگر) به لایه پایتون
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCourse]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteCourse]
(
    @ID SMALLINT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Course WHERE ID = @ID)
    BEGIN
        RAISERROR('Course ID not found.', 16, 1);
        RETURN;
    END

    DELETE FROM dbo.Course WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCourseCategory]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 3) DELETE
CREATE   PROCEDURE [dbo].[DeleteCourseCategory]
    @ID TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.CourseCategory WHERE ID = @ID)
    BEGIN
        RAISERROR('CourseCategory not found.', 16, 1);
        RETURN;
    END

    -- if referenced by Course -> block delete
    IF EXISTS (SELECT 1 FROM dbo.Course WHERE CourseCategoryID = @ID)
    BEGIN
        RAISERROR('Cannot delete: This CourseCategory is used in dbo.Course.', 16, 1);
        RETURN;
    END

    DELETE FROM dbo.CourseCategory WHERE ID = @ID;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteDepartment]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteDepartment]
    @ID TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Department WHERE ID = @ID)
    BEGIN
        RAISERROR (N'Department not found.', 16, 1);
        RETURN;
    END

    DELETE FROM dbo.Department
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteEducation]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteEducation]
    @ID TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Education
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeleteEmployee]
    @PersonID int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        DELETE FROM dbo.Employee
        WHERE PersonID = @PersonID;

        IF @@ROWCOUNT = 0
            THROW 50003, 'Employee not found for delete.', 1;

        DELETE FROM dbo.Person
        WHERE ID = @PersonID;

        IF @@ROWCOUNT = 0
            THROW 50004, 'Person not found for delete.', 1;

        COMMIT;

        SELECT 1 AS Ok;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteJob]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteJob]
    @ID TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Job
    WHERE ID = @ID;

    SELECT @@ROWCOUNT AS AffectedRows;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteScore]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteScore]
    @StudentID   INT,
    @CourseID    SMALLINT,
    @TeacherID   INT,
    @TermNumber  INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Student_Course_Teacher
    WHERE StudentID = @StudentID
      AND CourseID = @CourseID
      AND TeacherID = @TeacherID
      AND TermNumber = @TermNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudent]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteStudent]
    @PersonID int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        DELETE FROM dbo.Student WHERE PersonID = @PersonID;
        DELETE FROM dbo.Person  WHERE ID       = @PersonID;

        COMMIT;
        SELECT @PersonID AS PersonID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteTeacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteTeacher]
    @PersonID int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        DELETE FROM dbo.Teacher WHERE PersonID = @PersonID;
        DELETE FROM dbo.Person  WHERE ID       = @PersonID;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCertifications]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCertifications]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            ID,
            CertificationTitle,
            Vendor
        FROM dbo.Certification
        ORDER BY ID;
    END TRY
    BEGIN CATCH
        -- پاس دادن خطا به لایه پایتون
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCourseCategories]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 4) GET ALL (Grid / TreeView)
CREATE   PROCEDURE [dbo].[GetAllCourseCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        CourseCategoryName,
        EnglishCourseCategoryName
    FROM dbo.CourseCategory
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCourseCategoryList]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 5) GET LIST (ComboBox)
CREATE   PROCEDURE [dbo].[GetAllCourseCategoryList]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        EnglishCourseCategoryName AS EnglishCourseCategory
    FROM dbo.CourseCategory
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCourses]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllCourses]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        CourseCode,
        CourseName,
        EnglishCourseName,
        [Description],
        Duration,
        Syllabus,
        Cost,
        [Status],
        CourseCategoryID,
        PrerequisitCourseID
    FROM dbo.Course
    ORDER BY ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCoursesForScore]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllCoursesForScore]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID AS CourseID,
        EnglishCourseName AS CourseName
    FROM dbo.Course
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllDepartments]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllDepartments]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        DepartmentName,
        EnglishDepartmentName
    FROM dbo.Department
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllEducationList]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllEducationList]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        EnglishEducation
    FROM dbo.Education
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllEducations]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllEducations]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        EducationTitle,
        EnglishEducation
    FROM dbo.Education
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmployees]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.ID            AS PersonID,
        p.FirstName,
        p.LastName,
        p.Birthdate,
        p.MaritalStatus,
        p.NationalCode,
        p.Mobile,
        p.Address,
        p.Gender,
        p.EmailAddress,
        p.EducationID,

        e.ManagerID,
        e.TotalChildren,
        e.Startdate,
        e.InsuranceNumber,
        e.AccountNumber,
        e.Hiredate,
        e.DepartmentID,
        e.JobID,
        e.Photo        AS Photo      -- 👈 ستون عکس اضافه شد
    FROM dbo.Person AS p
    INNER JOIN dbo.Employee AS e
        ON e.PersonID = p.ID
    ORDER BY p.ID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllJobs]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllJobs]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, JobTitle
    FROM dbo.Job
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllScores]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllScores]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        SCT.StudentID,
        P1.FirstName + ' ' + P1.LastName AS StudentName,
        C.ID AS CourseID,
        C.EnglishCourseName AS CourseName,
        SCT.TeacherID,
        P2.FirstName + ' ' + P2.LastName AS TeacherName,
        SCT.TermNumber,
        SCT.Score
    FROM dbo.Student_Course_Teacher SCT
    INNER JOIN dbo.Course C ON C.ID = SCT.CourseID
    INNER JOIN dbo.Person P1 ON P1.ID = SCT.StudentID
    INNER JOIN dbo.Person P2 ON P2.ID = SCT.TeacherID
    ORDER BY SCT.StudentID, SCT.CourseID, SCT.TeacherID, SCT.TermNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudents]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllStudents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.ID AS PersonID,
        p.FirstName, p.LastName, p.Birthdate, p.MaritalStatus, p.NationalCode,
        p.Mobile, p.Address, p.Gender, p.EmailAddress, p.EducationID,
        s.FirstRegisterdate, s.EnglishFirstName, s.EnglishLastName,
        s.Photo
    FROM dbo.Student s
    INNER JOIN dbo.Person p ON p.ID = s.PersonID
    ORDER BY p.ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudentsForScore]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllStudentsForScore]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.ID AS StudentID,
        P.FirstName + ' ' + P.LastName AS StudentName
    FROM dbo.Person P
    INNER JOIN dbo.Student S ON S.PersonID = P.ID
    ORDER BY P.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllTeachers]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. آپدیت GetAllTeachers برای خواندن عکس
CREATE   PROCEDURE [dbo].[GetAllTeachers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        t.PersonID, p.FirstName, p.LastName, p.Birthdate, p.MaritalStatus,
        p.NationalCode, p.Mobile, p.Address, p.Gender, p.EmailAddress,
        p.EducationID, t.Startdate, t.InsuranceNumber, t.AccountNumber,
        t.Photo  -- <<< ستون عکس اضافه شد
    FROM dbo.Teacher t
    INNER JOIN dbo.Person p ON t.PersonID = p.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllTeachersForScore]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllTeachersForScore]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.ID AS TeacherID,
        P.FirstName + ' ' + P.LastName AS TeacherName
    FROM dbo.Person P
    INNER JOIN dbo.Teacher T ON T.PersonID = P.ID
    ORDER BY P.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCourseSyllabusFile]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCourseSyllabusFile]
(
    @ID SMALLINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        SyllabusFile
    FROM dbo.Course
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPrerequisiteCourseList]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPrerequisiteCourseList]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        CourseName
    FROM dbo.Course
    ORDER BY CourseName;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTeacherCertifications]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. خواندن مدارکِ یک استاد (با نام صحیح CertificateCode)
CREATE   PROCEDURE [dbo].[GetTeacherCertifications]
    @TeacherID int
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        TC.CertificationID, C.CertificationTitle, C.Vendor, TC.CertificateCode
    FROM dbo.Teacher_Certification TC
    INNER JOIN dbo.Certification C ON TC.CertificationID = C.ID
    WHERE TC.TeacherID = @TeacherID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUseNamePassword]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[GetUseNamePassword] 
	-- Add the parameters for the stored procedure here
	@username varchar(50), 
	@password  varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from dbo.Users where UserName=@username and Password=@password
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCertification]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCertification]
    @CertificationTitle VARCHAR(50),
    @Vendor VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.Certification (CertificationTitle, Vendor)
        VALUES (@CertificationTitle, @Vendor);

        -- برگرداندن ID جدید به پایتون (اسم ستون را ID گذاشتیم تا خواناتر باشد)
        SELECT CAST(SCOPE_IDENTITY() AS INT) AS ID;
    END TRY
    BEGIN CATCH
        -- در صورت بروز خطا، آن را به پایتون پاس می‌دهد تا برنامه کرش نکند
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCourse]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertCourse]
(
    @CourseCode            INT,
    @CourseName            NVARCHAR(50),
    @EnglishCourseName     VARCHAR(50),
    @Description           NVARCHAR(2000),
    @Duration              TINYINT,
    @Syllabus              NVARCHAR(2000),
    @Cost                  INT,
    @SyllabusFile          VARBINARY(MAX),
    @Status                NVARCHAR(20),
    @CourseCategoryID      TINYINT = NULL,
    @PrerequisitCourseID   SMALLINT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Course
    (
        CourseCode, CourseName, EnglishCourseName, [Description],
        Duration, Syllabus, Cost, SyllabusFile, [Status],
        CourseCategoryID, PrerequisitCourseID
    )
    VALUES
    (
        @CourseCode, @CourseName, @EnglishCourseName, @Description,
        @Duration, @Syllabus, @Cost, @SyllabusFile, @Status,
        @CourseCategoryID, @PrerequisitCourseID
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewCourseID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCourseCategory]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=========================================================
  CourseCategory CRUD SPs
=========================================================*/

-- 1) INSERT
CREATE   PROCEDURE [dbo].[InsertCourseCategory]
    @CourseCategoryName NVARCHAR(50),
    @EnglishCourseCategoryName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- validation
    SET @CourseCategoryName = LTRIM(RTRIM(@CourseCategoryName));
    SET @EnglishCourseCategoryName = LTRIM(RTRIM(@EnglishCourseCategoryName));

    IF (@CourseCategoryName IS NULL OR @CourseCategoryName = '')
    BEGIN
        RAISERROR('CourseCategoryName is required.', 16, 1);
        RETURN;
    END

    IF (@EnglishCourseCategoryName IS NULL OR @EnglishCourseCategoryName = '')
    BEGIN
        RAISERROR('EnglishCourseCategoryName is required.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.CourseCategory (CourseCategoryName, EnglishCourseCategoryName)
    VALUES (@CourseCategoryName, @EnglishCourseCategoryName);

    -- return new ID
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertDepartment]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertDepartment]
    @DepartmentName NVARCHAR(50),
    @EnglishDepartmentName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- جلوگیری از ثبت تکراری
    IF EXISTS (
        SELECT 1
        FROM dbo.Department
        WHERE DepartmentName = @DepartmentName
           OR EnglishDepartmentName = @EnglishDepartmentName
    )
    BEGIN
        RAISERROR (N'Department already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Department (DepartmentName, EnglishDepartmentName)
    OUTPUT INSERTED.ID
    VALUES (@DepartmentName, @EnglishDepartmentName);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEducation]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertEducation]
    @EducationTitle      NVARCHAR(20),
    @EnglishEducation    VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Education (EducationTitle, EnglishEducation)
    VALUES (@EducationTitle, @EnglishEducation);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Mitra Pooyamehr
-- Create date: 
-- Description: Insert Employee with Photo
-- =============================================
CREATE PROCEDURE [dbo].[InsertEmployee]
    @FirstName nvarchar(20),
    @LastName nvarchar(50),
    @Birthdate date,
    @MaritalStatus nvarchar(20),
    @NationalCode char(10),
    @Mobile char(11),
    @Address nvarchar(500) = NULL,
    @Gender nvarchar(20),
    @EmailAddress varchar(100) = NULL,
    @EducationID tinyint,
    @ManagerID int = NULL,
    @TotalChildren tinyint,
    @Startdate date,
    @InsuranceNumber char(7),
    @AccountNumber char(16),
    @Hiredate date,
    @DepartmentID tinyint,
    @JobID tinyint,
    @Photo varbinary(max) = NULL  -- <<< پارامتر عکس اضافه شد
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PersonID int;

    BEGIN TRY
        BEGIN TRAN;

        -- ثبت اطلاعات شخصی
        INSERT INTO dbo.Person
        (
            FirstName, LastName, Birthdate, MaritalStatus, NationalCode,
            Mobile, Address, Gender, EmailAddress, EducationID
        )
        VALUES
        (
            @FirstName, @LastName, @Birthdate, @MaritalStatus, @NationalCode,
            @Mobile, @Address, @Gender, @EmailAddress, @EducationID
        );

        SET @PersonID = SCOPE_IDENTITY();

        -- ثبت اطلاعات کارمندی همراه با عکس
        INSERT INTO dbo.Employee
        (
            PersonID, ManagerID, TotalChildren, Startdate,
            InsuranceNumber, AccountNumber, Hiredate, DepartmentID, JobID, Photo -- <<< ستون عکس اضافه شد
        )
        VALUES
        (
            @PersonID, @ManagerID, @TotalChildren, @Startdate,
            @InsuranceNumber, @AccountNumber, @Hiredate, @DepartmentID, @JobID, @Photo -- <<< مقدار عکس اضافه شد
        );

        COMMIT;

        SELECT @PersonID AS PersonID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InsertJob]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertJob]
    @JobTitle NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Job (JobTitle)
    VALUES (@JobTitle);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertScore]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertScore]
    @StudentID   INT,
    @CourseID    SMALLINT,
    @TeacherID   INT,
    @TermNumber  INT,
    @Score       TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.Student_Course_Teacher
        WHERE StudentID = @StudentID
          AND CourseID = @CourseID
          AND TeacherID = @TeacherID
          AND TermNumber = @TermNumber
    )
    BEGIN
        RAISERROR('This score record already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Student_Course_Teacher (StudentID, CourseID, TeacherID, TermNumber, Score)
    VALUES (@StudentID, @CourseID, @TeacherID, @TermNumber, @Score);

    -- برگرداندن کلید رکورد
    SELECT @StudentID AS StudentID, @CourseID AS CourseID, @TeacherID AS TeacherID, @TermNumber AS TermNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertStudent]
    -- Person fields
    @FirstName        nvarchar(20),
    @LastName         nvarchar(50),
    @Birthdate        date,
    @MaritalStatus    nvarchar(20),
    @NationalCode     char(10),
    @Mobile           char(11),
    @Address          nvarchar(500) = NULL,
    @Gender           nvarchar(20),
    @EmailAddress     varchar(100) = NULL,
    @EducationID      tinyint = NULL,

    -- Student fields
    @FirstRegisterdate date,
    @EnglishFirstName  varchar(50),
    @EnglishLastName   varchar(50),
    @Photo             varbinary(max) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PersonID int;

    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO dbo.Person
        (
            FirstName, LastName, Birthdate, MaritalStatus, NationalCode,
            Mobile, Address, Gender, EmailAddress, EducationID
        )
        VALUES
        (
            @FirstName, @LastName, @Birthdate, @MaritalStatus, @NationalCode,
            @Mobile, @Address, @Gender, @EmailAddress, @EducationID
        );

        SET @PersonID = SCOPE_IDENTITY();

        INSERT INTO dbo.Student
        (
            PersonID, FirstRegisterdate, EnglishFirstName, EnglishLastName, Photo
        )
        VALUES
        (
            @PersonID, @FirstRegisterdate, @EnglishFirstName, @EnglishLastName, @Photo
        );

        COMMIT;

        SELECT @PersonID AS PersonID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTeacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertTeacher]
    @FirstName        nvarchar(20),
    @LastName         nvarchar(50),
    @Birthdate        date,
    @MaritalStatus    nvarchar(20),
    @NationalCode     char(10),
    @Mobile           char(11),
    @Address          nvarchar(500) = NULL,
    @Gender           nvarchar(20),
    @EmailAddress     varchar(100) = NULL,
    @EducationID      tinyint = NULL,

    @InsuranceNumber  char(7),
    @AccountNumber    char(16),
    @Startdate        date,
    @Photo            varbinary(max) = NULL  -- پارامتر جدید برای عکس
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PersonID int;

    BEGIN TRY
        BEGIN TRAN;

        -- 1. درج اطلاعات عمومی در جدول شخص
        INSERT INTO dbo.Person
        (
            FirstName, LastName, Birthdate, MaritalStatus, NationalCode,
            Mobile, Address, Gender, EmailAddress, EducationID
        )
        VALUES
        (
            @FirstName, @LastName, @Birthdate, @MaritalStatus, @NationalCode,
            @Mobile, @Address, @Gender, @EmailAddress, @EducationID
        );

        -- گرفتن آی‌دی ساخته شده
        SET @PersonID = SCOPE_IDENTITY();

        -- 2. درج اطلاعات تخصصی و عکس در جدول استاد
        INSERT INTO dbo.Teacher (PersonID, InsuranceNumber, AccountNumber, Startdate, Photo)
        VALUES (@PersonID, @InsuranceNumber, @AccountNumber, @Startdate, @Photo);

        COMMIT;

        -- بازگرداندن آی‌دی برای استفاده در اپلیکیشن
        SELECT @PersonID AS PersonID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveCertificationFromTeacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. حذف مدرک از استاد
CREATE   PROCEDURE [dbo].[RemoveCertificationFromTeacher]
    @TeacherID int,
    @CertificationID tinyint
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Teacher_Certification
    WHERE TeacherID = @TeacherID AND CertificationID = @CertificationID;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCertifications]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchCertifications]
    @Search NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            ID,
            CertificationTitle,
            Vendor
        FROM dbo.Certification
        WHERE
            CertificationTitle LIKE N'%' + @Search + N'%'
            OR Vendor LIKE N'%' + @Search + N'%'
        ORDER BY ID;
    END TRY
    BEGIN CATCH
        -- پاس دادن خطا به اپلیکیشن پایتون در صورت بروز مشکل در خواندن اطلاعات
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCourseCategories]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 6) SEARCH
CREATE   PROCEDURE [dbo].[SearchCourseCategories]
    @q NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SET @q = LTRIM(RTRIM(@q));
    IF (@q IS NULL OR @q = '')
    BEGIN
        EXEC dbo.GetAllCourseCategories;
        RETURN;
    END

    DECLARE @like NVARCHAR(110) = N'%' + @q + N'%';

    SELECT
        ID,
        CourseCategoryName,
        EnglishCourseCategoryName
    FROM dbo.CourseCategory
    WHERE CourseCategoryName LIKE @like
       OR EnglishCourseCategoryName LIKE @like
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCourses]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SearchCourses]
(
    @Search NVARCHAR(200)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        CourseCode,
        CourseName,
        EnglishCourseName,
        [Description],
        Duration,
        Syllabus,
        Cost,
        [Status],
        CourseCategoryID,
        PrerequisitCourseID
    FROM dbo.Course
    WHERE
        CourseName LIKE N'%' + @Search + N'%'
        OR EnglishCourseName LIKE '%' + @Search + '%'
        OR CAST(CourseCode AS NVARCHAR(50)) LIKE N'%' + @Search + N'%'
        OR [Status] LIKE N'%' + @Search + N'%'
    ORDER BY ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchDepartments]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SearchDepartments]
    @q NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID,
        DepartmentName,
        EnglishDepartmentName
    FROM dbo.Department
    WHERE DepartmentName LIKE N'%' + @q + N'%'
       OR EnglishDepartmentName LIKE '%' + CONVERT(VARCHAR(100), @q) + '%'
       OR CAST(ID AS VARCHAR(10)) LIKE '%' + CONVERT(VARCHAR(100), @q) + '%'
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchEducations]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchEducations]
    @Search NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        EducationTitle,
        EnglishEducation
    FROM dbo.Education
    WHERE 
        EducationTitle LIKE N'%' + @Search + N'%'
        OR EnglishEducation LIKE '%' + CAST(@Search AS VARCHAR(50)) + '%'
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchEmployees]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchEmployees]
    @Q nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @s nvarchar(110) = N'%' + LTRIM(RTRIM(@Q)) + N'%';

    SELECT
        p.ID            AS PersonID,
        p.FirstName,
        p.LastName,
        p.Birthdate,
        p.MaritalStatus,
        p.NationalCode,
        p.Mobile,
        p.Address,
        p.Gender,
        p.EmailAddress,
        p.EducationID,

        e.ManagerID,
        e.TotalChildren,
        e.Startdate,
        e.InsuranceNumber,
        e.AccountNumber,
        e.Hiredate,
        e.DepartmentID,
        e.JobID,
        e.Photo        AS Photo      -- 👈 این‌جا هم اضافه شد
    FROM dbo.Person p
    INNER JOIN dbo.Employee e
        ON e.PersonID = p.ID
    WHERE
        p.FirstName    LIKE @s OR
        p.LastName     LIKE @s OR
        p.NationalCode LIKE @s OR
        p.Mobile       LIKE @s OR
        p.EmailAddress LIKE @s
    ORDER BY p.ID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchJobs]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SearchJobs]
    @Search NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, JobTitle
    FROM dbo.Job
    WHERE JobTitle LIKE '%' + @Search + '%'
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchScores]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SearchScores]
    @q NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @s NVARCHAR(120) = '%' + @q + '%';

    SELECT
        SCT.StudentID,
        P1.FirstName + ' ' + P1.LastName AS StudentName,
        C.ID AS CourseID,
        C.EnglishCourseName AS CourseName,
        SCT.TeacherID,
        P2.FirstName + ' ' + P2.LastName AS TeacherName,
        SCT.TermNumber,
        SCT.Score
    FROM dbo.Student_Course_Teacher SCT
    INNER JOIN dbo.Course C ON C.ID = SCT.CourseID
    INNER JOIN dbo.Person P1 ON P1.ID = SCT.StudentID
    INNER JOIN dbo.Person P2 ON P2.ID = SCT.TeacherID
    WHERE
        CAST(SCT.StudentID AS NVARCHAR(20)) LIKE @s
        OR CAST(SCT.TeacherID AS NVARCHAR(20)) LIKE @s
        OR CAST(SCT.CourseID AS NVARCHAR(20)) LIKE @s
        OR P1.FirstName + ' ' + P1.LastName LIKE @s
        OR P2.FirstName + ' ' + P2.LastName LIKE @s
        OR C.EnglishCourseName LIKE @s
    ORDER BY SCT.StudentID, SCT.CourseID, SCT.TeacherID, SCT.TermNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchStudents]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchStudents]
    @q nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @x nvarchar(120) = '%' + LTRIM(RTRIM(@q)) + '%';

    SELECT
        p.ID AS PersonID,
        p.FirstName, p.LastName, p.Birthdate, p.MaritalStatus, p.NationalCode,
        p.Mobile, p.Address, p.Gender, p.EmailAddress, p.EducationID,
        s.FirstRegisterdate, s.EnglishFirstName, s.EnglishLastName,
        s.Photo
    FROM dbo.Student s
    INNER JOIN dbo.Person p ON p.ID = s.PersonID
    WHERE
        p.FirstName LIKE @x OR
        p.LastName LIKE @x OR
        p.NationalCode LIKE @x OR
        p.Mobile LIKE @x OR
        s.EnglishFirstName LIKE @x OR
        s.EnglishLastName LIKE @x
    ORDER BY p.ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchTeachers]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. آپدیت SearchTeachers برای خواندن عکس
CREATE   PROCEDURE [dbo].[SearchTeachers]
    @Search NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        t.PersonID, p.FirstName, p.LastName, p.Birthdate, p.MaritalStatus,
        p.NationalCode, p.Mobile, p.Address, p.Gender, p.EmailAddress,
        p.EducationID, t.Startdate, t.InsuranceNumber, t.AccountNumber,
        t.Photo  -- <<< ستون عکس اضافه شد
    FROM dbo.Teacher t
    INNER JOIN dbo.Person p ON t.PersonID = p.ID
    WHERE 
        p.FirstName LIKE N'%' + @Search + N'%' OR 
        p.LastName LIKE N'%' + @Search + N'%' OR 
        p.NationalCode LIKE N'%' + @Search + N'%';
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCertification]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCertification]
    @ID TINYINT,
    @CertificationTitle VARCHAR(50),  -- اگر در دیتابیس به NVARCHAR تغییر دادید، اینجا هم تغییر دهید
    @Vendor VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Certification
        SET
            CertificationTitle = @CertificationTitle,
            Vendor = @Vendor
        WHERE ID = @ID;

        -- بررسی اینکه آیا واقعاً رکوردی با این ID وجود داشت و آپدیت شد؟
        IF @@ROWCOUNT = 0
            THROW 50001, 'Certification not found for update.', 1;

    END TRY
    BEGIN CATCH
        -- پاس دادن خطا به لایه پایتون برای نمایش به کاربر
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourse]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateCourse]
(
    @ID                  SMALLINT,
    @CourseCode          INT,
    @CourseName          NVARCHAR(50),
    @EnglishCourseName   VARCHAR(50),
    @Description         NVARCHAR(2000),
    @Duration            TINYINT,
    @Syllabus            NVARCHAR(2000),
    @Cost                INT,
    @SyllabusFile        VARBINARY(MAX) = NULL, -- اگر NULL بود فایل قبلی حفظ میشه
    @Status              NVARCHAR(20),
    @CourseCategoryID    TINYINT = NULL,
    @PrerequisitCourseID SMALLINT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Course WHERE ID = @ID)
    BEGIN
        RAISERROR('Course ID not found.', 16, 1);
        RETURN;
    END

    UPDATE dbo.Course
    SET
        CourseCode          = @CourseCode,
        CourseName          = @CourseName,
        EnglishCourseName   = @EnglishCourseName,
        [Description]       = @Description,
        Duration            = @Duration,
        Syllabus            = @Syllabus,
        Cost                = @Cost,
        SyllabusFile        = COALESCE(@SyllabusFile, SyllabusFile),
        [Status]            = @Status,
        CourseCategoryID    = @CourseCategoryID,
        PrerequisitCourseID = @PrerequisitCourseID
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourseCategory]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 2) UPDATE
CREATE   PROCEDURE [dbo].[UpdateCourseCategory]
    @ID TINYINT,
    @CourseCategoryName NVARCHAR(50),
    @EnglishCourseCategoryName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SET @CourseCategoryName = LTRIM(RTRIM(@CourseCategoryName));
    SET @EnglishCourseCategoryName = LTRIM(RTRIM(@EnglishCourseCategoryName));

    IF NOT EXISTS (SELECT 1 FROM dbo.CourseCategory WHERE ID = @ID)
    BEGIN
        RAISERROR('CourseCategory not found.', 16, 1);
        RETURN;
    END

    IF (@CourseCategoryName IS NULL OR @CourseCategoryName = '')
    BEGIN
        RAISERROR('CourseCategoryName is required.', 16, 1);
        RETURN;
    END

    IF (@EnglishCourseCategoryName IS NULL OR @EnglishCourseCategoryName = '')
    BEGIN
        RAISERROR('EnglishCourseCategoryName is required.', 16, 1);
        RETURN;
    END

    UPDATE dbo.CourseCategory
    SET CourseCategoryName = @CourseCategoryName,
        EnglishCourseCategoryName = @EnglishCourseCategoryName
    WHERE ID = @ID;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDepartment]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateDepartment]
    @ID TINYINT,
    @DepartmentName NVARCHAR(50),
    @EnglishDepartmentName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Department WHERE ID = @ID)
    BEGIN
        RAISERROR (N'Department not found.', 16, 1);
        RETURN;
    END

    -- جلوگیری از تکراری شدن نام با رکوردهای دیگر
    IF EXISTS (
        SELECT 1
        FROM dbo.Department
        WHERE (DepartmentName = @DepartmentName OR EnglishDepartmentName = @EnglishDepartmentName)
          AND ID <> @ID
    )
    BEGIN
        RAISERROR (N'Department name already exists.', 16, 1);
        RETURN;
    END

    UPDATE dbo.Department
    SET DepartmentName = @DepartmentName,
        EnglishDepartmentName = @EnglishDepartmentName
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEducation]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateEducation]
    @ID                 TINYINT,
    @EducationTitle     NVARCHAR(20),
    @EnglishEducation   VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Education
    SET EducationTitle = @EducationTitle,
        EnglishEducation = @EnglishEducation
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Mitra Pooyamehr
-- Description: Update Employee with Photo
-- =============================================
CREATE PROCEDURE [dbo].[UpdateEmployee]
    @PersonID int,
    @FirstName nvarchar(20),
    @LastName nvarchar(50),
    @Birthdate date,
    @MaritalStatus nvarchar(20),
    @NationalCode char(10),
    @Mobile char(11),
    @Address nvarchar(500) = NULL,
    @Gender nvarchar(20),
    @EmailAddress varchar(100) = NULL,
    @EducationID tinyint,
    @ManagerID int = NULL,
    @TotalChildren tinyint,
    @Startdate date,
    @InsuranceNumber char(7),
    @AccountNumber char(16),
    @Hiredate date,
    @DepartmentID tinyint,
    @JobID tinyint,
    @Photo varbinary(max) = NULL -- <<< پارامتر عکس اضافه شد
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- آپدیت اطلاعات شخصی
        UPDATE dbo.Person
        SET
            FirstName     = @FirstName,
            LastName      = @LastName,
            Birthdate     = @Birthdate,
            MaritalStatus = @MaritalStatus,
            NationalCode  = @NationalCode,
            Mobile        = @Mobile,
            Address       = @Address,
            Gender        = @Gender,
            EmailAddress  = @EmailAddress,
            EducationID   = @EducationID
        WHERE ID = @PersonID;   

        IF @@ROWCOUNT = 0
            THROW 50001, 'Person not found for update.', 1;

        -- آپدیت اطلاعات کارمندی همراه با عکس
        UPDATE dbo.Employee
        SET
            ManagerID       = @ManagerID,
            TotalChildren   = @TotalChildren,
            Startdate       = @Startdate,
            InsuranceNumber = @InsuranceNumber,
            AccountNumber   = @AccountNumber,
            Hiredate        = @Hiredate,
            DepartmentID    = @DepartmentID,
            JobID           = @JobID,
            Photo           = @Photo -- <<< آپدیت عکس
        WHERE PersonID = @PersonID;

        IF @@ROWCOUNT = 0
            THROW 50002, 'Employee not found for update.', 1;

        COMMIT;

        SELECT @PersonID AS PersonID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateJob]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateJob]
    @ID TINYINT,
    @JobTitle NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Job
    SET JobTitle = @JobTitle
    WHERE ID = @ID;

    SELECT @@ROWCOUNT AS AffectedRows;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateScore]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateScore]
    @StudentID   INT,
    @CourseID    SMALLINT,
    @TeacherID   INT,
    @TermNumber  INT,
    @Score       TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.Student_Course_Teacher
        WHERE StudentID = @StudentID
          AND CourseID = @CourseID
          AND TeacherID = @TeacherID
          AND TermNumber = @TermNumber
    )
    BEGIN
        RAISERROR('Score record not found.', 16, 1);
        RETURN;
    END

    UPDATE dbo.Student_Course_Teacher
    SET Score = @Score
    WHERE StudentID = @StudentID
      AND CourseID = @CourseID
      AND TeacherID = @TeacherID
      AND TermNumber = @TermNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateStudent]
    @PersonID int,

    -- Person
    @FirstName        nvarchar(20),
    @LastName         nvarchar(50),
    @Birthdate        date,
    @MaritalStatus    nvarchar(20),
    @NationalCode     char(10),
    @Mobile           char(11),
    @Address          nvarchar(500) = NULL,
    @Gender           nvarchar(20),
    @EmailAddress     varchar(100) = NULL,
    @EducationID      tinyint = NULL,

    -- Student
    @FirstRegisterdate date,
    @EnglishFirstName  varchar(50),
    @EnglishLastName   varchar(50),
    @Photo             varbinary(max) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        UPDATE dbo.Person
        SET
            FirstName     = @FirstName,
            LastName      = @LastName,
            Birthdate     = @Birthdate,
            MaritalStatus = @MaritalStatus,
            NationalCode  = @NationalCode,
            Mobile        = @Mobile,
            Address       = @Address,
            Gender        = @Gender,
            EmailAddress  = @EmailAddress,
            EducationID   = @EducationID
        WHERE ID = @PersonID;

        UPDATE dbo.Student
        SET
            FirstRegisterdate = @FirstRegisterdate,
            EnglishFirstName  = @EnglishFirstName,
            EnglishLastName   = @EnglishLastName,
            Photo             = @Photo
        WHERE PersonID = @PersonID;

        COMMIT;
        SELECT @PersonID AS PersonID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTeacher]    Script Date: 2/26/2026 3:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateTeacher]
    @PersonID         int,          -- آی‌دی اصلی برای ویرایش
    @FirstName        nvarchar(20),
    @LastName         nvarchar(50),
    @Birthdate        date,
    @MaritalStatus    nvarchar(20),
    @NationalCode     char(10),
    @Mobile           char(11),
    @Address          nvarchar(500) = NULL,
    @Gender           nvarchar(20),
    @EmailAddress     varchar(100) = NULL,
    @EducationID      tinyint = NULL,

    @InsuranceNumber  char(7),
    @AccountNumber    char(16),
    @Startdate        date,
    @Photo            varbinary(max) = NULL  -- پارامتر جدید
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- 1. آپدیت جدول عمومی Person
        UPDATE dbo.Person
        SET FirstName = @FirstName,
            LastName = @LastName,
            Birthdate = @Birthdate,
            MaritalStatus = @MaritalStatus,
            NationalCode = @NationalCode,
            Mobile = @Mobile,
            Address = @Address,
            Gender = @Gender,
            EmailAddress = @EmailAddress,
            EducationID = @EducationID
        WHERE ID = @PersonID;

        -- 2. آپدیت جدول اختصاصی Teacher و عکس
        UPDATE dbo.Teacher
        SET InsuranceNumber = @InsuranceNumber,
            AccountNumber = @AccountNumber,
            Startdate = @Startdate,
            Photo = @Photo
        WHERE PersonID = @PersonID;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نام دانشجو، استاد، کارمند' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Person', @level2type=N'COLUMN',@level2name=N'FirstName'
GO
USE [master]
GO
